    .fa,
    i {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    }
    
    
    .main-menu:hover,nav.main-menu.expanded {
    width:250px;
    overflow:visible;
    }
    
    .main-menu {
    background:white;
    position:absolute;
    top: 0;
    bottom: 0;
    transform: translateY(-50%);
    height:auto;
    left:0;
    width:60px;
    overflow:hidden;
    -webkit-transition:width .3s linear;
    transition:width .2s linear;
    -webkit-transform:translateZ(0) scale(1,1);
    }
    
    .main-menu>ul {
    margin:7px 0;
    
    }
    
    .main-menu li {
    position:relative;
    display:block;
    width:250px;
    margin: 3% 0;
    transition: all .8s;
    }
    .main-menu > ul > li:nth-child(1) {
      margin-top: 20%;
    }
    .main-menu li > a {
    position:relative;
    display:table;
    border-collapse:collapse;
    border-spacing:0;
    color:#409eff;
    font-family: arial;
    font-size: 1.5em;
    font-family: "楷体";
    text-decoration:none;
    -webkit-transform:translateZ(0) scale(1,1);
    -webkit-transition:all .05s linear;
    transition:all .05s linear;
      
    }
    
    .main-menu .nav-icon {
    position:relative;
    display:table-cell;
    width:60px;
    height:36px;
    text-align:center;
    vertical-align:middle;
    }
    
    .main-menu .nav-text {
    position:relative;
    display:table-cell;
    vertical-align:middle;
    width:190px;
    }
    
    .main-menu>ul.logout {
    position:absolute;
    left:0;
    bottom:0;
    }
    
    .no-touch .scrollable.hover {
    overflow-y:hidden;
    }
    
    .no-touch .scrollable.hover:hover {
    overflow-y:auto;
    overflow:visible;
    }
    
    a:hover,a:focus {
    text-decoration:none;
    }
    
    nav {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -o-user-select:none;
    user-select:none;
    }
    
    nav ul,nav li {
    outline:0;
    margin:0;
    padding:0;
    float: left;
    }
    .main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
    color: rgb(29, 165, 29);
    }
    .main-menu li > a {
      transition: all .8s;
    }
    .area {
    position: fixed;
    background: #e2e2e2;
    width: auto;
    height: 100%;
    z-index: 20;
    }